html body {
    overflow: hidden;
}

.navbar {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#os-desktop {
    margin-top: 50px;
    margin-bottom: 50px;
}


.os-button {
    margin-top: 5px;
    margin-bottom: 0px;
}

.os-icons {
    font-size: 2rem;
}

.os-icons-desc {
    width: 60px;
    text-align: center;
    background-color: rgba(255,255,255, 0);
    color: #000;
    margin-top: 0px;
    margin-bottom: 15px;
}

#clmn-1 {
    border-style: dashed;
    border-width: 2px;
    border-color: red;
}

#clmn-2 {
    border-style: dashed;
    border-left-style: none;
    border-width: 2px;
    border-color: black;
}

.all-menus {
    display: none; 
    position: absolute;
    z-index: 99;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

@media screen and (max-width: 768px) {
    .os-icons {
        width: 70px;
        font-size: 1rem;
    }

    .os-icons-desc {
        width: 50px;
        margin-bottom: 10px;
        font-size: 0.5rem;
    }
}