html body {
    overflow: hidden;
    background-color: #494949;
}

.navbar {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

/* change the background color */
.navbar-custom {
    background-color: #212529;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #e1e7e4;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #e1e7e4;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: lightgrey;
}

/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu {
    background-color: #212529;
}

/* dropdown item text color */
.navbar-custom .navbar-nav .dropdown-item {
    color: #e1e7e4;
}

/* dropdown item hover or focus */
.navbar-custom .navbar-nav .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-item:focus {
    color: #212529;
    background-color: #e1e7e4;
}

.bottom-bar-custom {
    height: 50px;
    background-color: #212529;
}

#os-desktop {
    margin-top: 50px;
    margin-bottom: 50px;
}

.os-button {
    margin-top: 5px;
    margin-bottom: 0px;
}

.btn-default {
    background-color: #212529;
    color:#e1e7e4;
    border-color: #e1e7e4;
}

.btn-default:hover {
    background-color: #e1e7e4;
    color:#212529;
    border-color: #212529;
}

.btn-default:focus, .btn-default:active {
    background-color: #212529;
    color:#e1e7e4;
    border-color: #e1e7e4;
}

.os-icons {
    font-size: 2rem;
}

.os-icons-desc {
    width: 60px;
    text-align: center;
    background-color: rgba(255,255,255, 0);
    color: #e1e7e4;
    margin-top: 0px;
    margin-bottom: 15px;
}

#clmn-1, #clmn-2 {
    padding-top: 5px;
}

.all-menus {
    display: none; 
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 99;
    width: 200px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #212529;
    background-color: #212529;
}

ul.desktop-menu {
    list-style-type: none;
    margin: 10px 0px;
    padding: 0;
}

.desktop-menu li {
    text-align: left;
    margin: 2px 0px;
}

.desktop-menu li a {
    display: block;
    padding: 2px 15px;
    text-decoration: none;
    color: #e1e7e4;
}

.desktop-menu li a:hover {
    color: #212529;
    background-color: #e1e7e4;
}

#rebootWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    display: none;
    text-align: center;
    background-color:rgba(0,0,0, 0.6);
}

#rebootMessage {
    position: absolute;
    width: 100%;
    top: 50%;
    display: none;
    z-index: 9999;
    color: #e1e7e4;
}

button[role="link"] {
    color: #e1e7e4;
    background-color: rgba(0,0,0, 0);
    text-decoration: none;
    cursor: pointer;
}

button[role="link"]:hover,
button[role="link"]:active,
button[role="link"]:focus {
    color: #3754ca;
    background-color: rgba(0,0,0, 0);
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

.modal-header.custom-header {
    border-color: #212529;
}

.modal-footer.custom-footer {
    border-color: #212529;
}

.modal-dialog{
    overflow-y: initial !important
}

.modal-body{
    height: 90vh;
    overflow-y: auto;
}

#homeWindow, #sdWindow, #termWindow, #editorWindow, #statusWindow, #aboutWindow, #viewerWindow {
    background: #000000;
    border: #494949 solid 1px;
}

#homeModalLabel, #sdModalLabel, #termModalLabel, #editorModalLabel, #statusModalLabel, #aboutModalLabel, #viewerModalLabel {
    color: #e1e7e4;
}

#homeModalContent, #sdModalContent, #termModalContent, #editorModalContent, #statusModalContent, #aboutModalContent, #viewerModalContent {
    color: #e1e7e4;
    text-align: left;
}

#homeModalPrevious, #sdModalPrevious, #termModalPrevious, #editorModalPrevious, #statusModalPrevious, #aboutModalPrevious, #viewerModalPrevious {
    margin-left: 3px;
}

#termTextArea {
    width: 100%;
    height: 200px;
    margin-left: 0px !important;
    background-color: #000000;
    border: none;
    resize: none;
    color: #e1e7e4;
}

#crs {
    background-color: brown;
    color: black;
    width: 100%;
    height: 50px;
    padding: 10px;
}

#src {
    background-color: whitesmoke;
    color: black;
    width: 100%;
    height: 300px;
    padding: 5px;
}

#editorGUI {
    background-color: black;
    color: whitesmoke;
    font-family: monospace;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    word-wrap: break-word;
	overflow-wrap: break-word;
    white-space: pre;
    outline: 0px solid transparent;
}

#editorGUIHeader, #editorGUIHelper, #editorGUIFooter, #editorGUIDate {
    background-color: black;
    color: whitesmoke;
    font-family: monospace;
    font-size: 14px;
}

#editorGUIHeader {
    margin-bottom: 5px;
}

#editorGUIHelper {
    margin-bottom: 5px;
}

#editorGUIFooter {
    margin-top: 15px;
    margin-bottom: 5px;
}

#editorGUIDate {
    margin-top: 5px;
}

#homeBreadcrumbs, #sdBreadcrumbs {
    padding-left: 10px;
    margin-bottom: 20px;
}

#photoViewer {
    position: absolute;
    width: 100%;
    top: 30px;
    text-align: center;
}

.nav-tabs {
    border-bottom: 1px solid #494949;
}

.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
    border: 1px solid #494949;
    color: gray;
}

.nav-tabs .nav-link.active {
    color: #000000;
    border: 1px solid #494949;
}

#statusTabContents th,  #statusTabContents td {
    padding: 10px;
}

#aboutModalContent h5 {
    color: #3754ca;
}

#avatar {
    float: right;
}

/*
#editorTextArea {
    width: 100%;
    min-height: 800px;
    margin-left: 0px !important;
    padding: 10px 10px;
    background-color: #ffffff;
    border: none;
    resize: none;
    color: #212529;
}
*/

#toolbar-line-2 {
    clear: both;
}

#font-format-group, #text-format-group, #text-alignment-group, #link-photo-group, #do-undo-group, #toggle-view-group {
    margin: 10px;
    float: left;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

@media screen and (max-width: 1200px) {
    #toolbar-line-2 {
        clear: none;
    }
}

@media screen and (max-width: 1024px) {
    #toolbar-line-2 {
        clear: none;
    }
}

@media screen and (max-width: 768px) {
    .os-icons {
        width: 70px;
        font-size: 1rem;
    }

    .os-icons-desc {
        width: 40px;
        margin-bottom: 10px;
        font-size: 0.5rem;
    }
    
    #toolbar-line-2 {
        clear: none;
    }
}